[include]
  path = .gitconfig.os
[user]
	email = taishi2060@gmail.com
	name = shierote
[alias]
[core]
	editor = vim
	excludesFile = ~/.gitignore_global
[init]
	defaultBranch = main
[commit]
	template = ~/.commit_template
