[user]
	email = taishi2060@gmail.com
	name = shierote
[alias]
  st = status
  co = checkout
  a  = add
  c  = commit
  d  = diff
[core]
	excludesfile = $HOME/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/taishieguchi/dev/dotfiles/.commit_template
