[user]
	email = taishi2060@gmail.com
	name = shierote
[alias]
  st = status
  co = checkout
  b  = branch
  a  = add
  c  = commit
  d  = diff
  g  = grep
  ph = push
  pl = pull
[core]
	excludesfile = /Users/taishieguchi/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
